<div class="container" style="margin-top: 5rem">
  <h2 style="text-align: center; background-color: #00a7b8; padding:10px; color:white; border-radius: 10px;">İletişim</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="mapouter mt-5">
        <div class="gmap_canvas">
          <iframe
            width="900"
            height="600"
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=%C3%87%C4%B1nar%20Sk.%20No:24,%2041050%20%C4%B0zmit/Kocaeli&t=&z=19&ie=UTF8&iwloc=&output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe
          ><a href="https://fmovies2.org"></a><br /><style>
            .mapouter {
              position: relative;
              text-align: right;
              height: 600px;
              width: 900px;
            }</style
          ><a href="https://www.embedgooglemap.net"
            >how to add a google map to a website</a
          ><style>
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              height: 600px;
              width: 900px;
            }
          </style>
        </div>
      </div>
    </div>
    <div class="col-md-8 mb-5">
      <ul class="list-group mt-5">
        <li class="list-group-item">
          <b>Adres:</b>&nbsp; Yenişehir Mah. Demokrasi Bulvarı Çınar Sok. No:24
          &nbsp; <b>İzmit / Kocaeli / Türkiye</b>
        </li>
        <li class="list-group-item"><b>Telefon:</b>&nbsp; 0 262 311 5120</li>
        <li class="list-group-item"><b>Fax:</b>&nbsp; 0 262 3115125</li>
        <li class="list-group-item">
          <b>Email:</b>&nbsp;
          <a href="mailto:farukkocak@superonline.com"
            >farukkocak@superonline.com</a
          >
        </li>
        <li class="list-group-item">
          <b>İlgili:</b>&nbsp; Faruk KOÇAK -<b>Müdür</b>
        </li>
        <li class="list-group-item"><b>GSM:</b>&nbsp; 0 532 2632958</li>
      </ul>
    </div>
    <div class="col-md-4 mt-5">
      <img
        style="width: 14rem"
        src="../../../assets/images/karekod.png"
        alt=""
      />
    </div>
  </div>
</div>
