<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center"></div>
        </div>
      </div>
    </section>
    <footer class="footer-10">
      <div class="container">
        <div class="row mb-5 pb-3 no-gutters">
          <div class="col-md-4 mb-md-0 mb-4 d-flex">
            <div class="con con-1 w-100 py-5">
              <div class="con-info w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets\icons\phone-icon.svg"
                    alt=""
                    width="30"
                    height="30"
                    style="color: white"
                  />
                </div>
                <div class="text">
                  <span>0 262 311 5120</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-md-0 mb-4 d-flex">
            <div class="con con-2 w-100 py-5">
              <div class="con-info w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets\icons\mail-icon.svg"
                    alt=""
                    width="30"
                    height="30"
                    style="color: white"
                  />
                </div>
                <div class="text">
                  <span
                    ><a
                      href="mailto:farukkocak@superonline.com"
                      class="__cf_email__"
                      data-cfemail="fc95929a93bc99919d9590d29f9391"
                      >farukkocak@superonline.com</a
                    ></span
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-md-0 mb-4 d-flex">
            <div class="con con-3 w-100 py-5">
              <div class="con-info w-100 text-center">
                <div
                  class="icon d-flex align-items-center justify-content-center"
                >
                  <img
                    src="assets\icons\map-marked-icon.svg"
                    alt=""
                    width="30"
                    height="30"
                    style="color: white"
                  />
                </div>
                <div class="text">
                  <span
                    >Yenişehir Mah. Demokrasi Bulvarı Çınar Sok. No:24 İzmit /
                    Kocaeli / Türkiye</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div *ngIf="!language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">About</h2>
                <ul class="list-unstyled">
                  <li>
                    <a href="/company-profile" class="d-block">Our story</a>
                  </li>
                  <li><a href="/events" class="d-block">Events</a></li>
                  <li>
                    <a href="/company-profile" class="d-block">Our Team</a>
                  </li>
                  <li>
                    <a href="/videos" class="d-block">Introductory Videos</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Hakkımızda</h2>
                <ul class="list-unstyled">
                  <li>
                    <a href="/company-profile" class="d-block"
                      >Vizyon ve Misyonumuz</a
                    >
                  </li>
                  <li><a href="/events" class="d-block">Etkinlikler</a></li>
                  <li>
                    <a href="/company-profile" class="d-block">Ekibimiz</a>
                  </li>
                  <li>
                    <a href="/videos" class="d-block">Tanıtım Videoları</a>
                  </li>
                </ul>
              </div>
              <div *ngIf="!language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Company</h2>
                <ul class="list-unstyled">
                  <li><a href="/events" class="d-block">Our services</a></li>
                  <li><a href="/events" class="d-block">Clients</a></li>
                  <li><a href="/contact" class="d-block">Contact</a></li>
                </ul>
              </div>
              <div *ngIf="language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Şirket</h2>
                <ul class="list-unstyled">
                  <li><a href="/events" class="d-block">Hizmetlerimiz</a></li>
                  <li><a href="/events" class="d-block">Müşteriler</a></li>
                  <li><a href="/contact" class="d-block">İletişim</a></li>
                </ul>
              </div>
              <div *ngIf="language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Ürünler</h2>
                <ul class="list-unstyled">
                  <li><a href="/products" class="d-block">Ürünler</a></li>
                </ul>
              </div>
              <div *ngIf="!language" class="col-md-4 mb-md-0 mb-4">
                <h2 class="footer-heading">Products</h2>
                <ul class="list-unstyled">
                  <li><a href="/products" class="d-block">Products</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-md-0 mb-4">
            <h2 *ngIf="language" class="footer-heading">
              &nbsp;&nbsp;&nbsp; Sosyal Medya
            </h2>
            <h2 *ngIf="!language" class="footer-heading">
              &nbsp;&nbsp;&nbsp; Social Media
            </h2>
            <div style="width: 15rem; margin-left: 1rem; margin-bottom: 1rem">
              <a href="https://www.instagram.com/erkoc_gida_ve_hayvancilik/"
                ><span style="color: white; margin-right: 1rem"
                  ><i class="fab fa-instagram-square fa-3x"></i></span
              ></a>
              <a href="https://www.facebook.com/profile.php?id=100010723236363"
                ><span style="color: white; margin-right: 1rem"
                  ><i class="fab fa-facebook-square fa-3x"></i></span
              ></a>
              <a href="https://twitter.com/Vetima_41"
                ><span style="color: white; margin-right: 1rem"
                  ><i class="fab fa-twitter-square fa-3x"></i></span
              ></a>
            </div>
          </div>
          <div class="col-md-12">
            <p *ngIf="language" style="color: white">
              Erkoç Gıda ve Hayvancılık Ltd. Şti. | Vetima Copyright © 2021.
            </p>
            <p *ngIf="!language" style="color: white">
              Erkoç Food and Livestock Ltd. Şti.
            </p>
          </div>
          <div class="col-md-12">
            <p *ngIf="language" style="color: white">
              Vetima, Erkoç’un tescilli markasıdır.
            </p>
            <p *ngIf="!language" style="color: white">
              Vetima is a registered trademark of Erkoç.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
