*{
    margin: 0;
}
nav{
    position: fixed;
    z-index: 100;
}
li{
    transition: .5s;
    border-bottom: 5px solid #eef8ff;
}
li:hover{
    border-bottom: 5px solid #00a7b8;
    border-radius: 20%;
}

li>a.nav-link:hover{
    color: #00a7b8;
}

